/* =========================
   DEFAULT (LIGHT MODE)
   ========================= */

.stApp {
    background-color: #CB9DF0;
    color: #2F5D50;
}

/* Sidebar */
section[data-testid="stSidebar"] {
    background-color: #F0C1E1;
    color: #2F5D50;
}

/* Metric cards */
div[data-testid="metric-container"] {
    background-color: #F0C1E1;
    border: 1px solid #CFE8D8;
    padding: 15px;
    border-radius: 12px;
}

/* Headings */
h1, h2, h3, h4 {
    color: #2F5D50;
}

/* Buttons */
button[kind="primary"] {
    background-color: #FDDBBB;
    color: #1F3D34;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

button[kind="primary"]:hover {
    background-color: #7BBE96;
}

/* Expander */
details {
    background-color: #F0C1E1;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #CFE8D8;
}

/* Tables */
.stDataFrame {
    background-color: #F3F9F4;
}

